.report-container {
  // justify-content: center;
  // align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: none;
  height: 100%;
  width: 100%;
  // background-color: rgb(237, 237, 237);
}
