.button {
  background-color: rgb(181, 181, 181);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 10px;
  padding: 20px;
  border: none;
  border-radius: 4px;
  font-weight: 900;
  cursor: pointer;
}
