.transaction-history-view {
    // overflow-y: scroll;

    table, th {
        border: 2px solid black;
        border-collapse: collapse;
        padding: 10px 20px;
    }
    
    td {
        border: 2px solid #ccc;
        border-collapse: collapse;
        padding: 10px 20px;
    }
}