.moneyView {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.062) 1px 0px 20px;
  padding: 40px;
  padding-left: 110px;
  padding-right: 110px;
  margin: 10px 20px 0px 0px;
}

.moneyContainer {
  margin: 10px;
}
